<div class="col-md-12">
	<div class="panel"><h3 class="title">Team Management</h3></div>
</div>
        <div class="col-md-8">
        	<div class="panel" data-sortable-id="ui-widget-3">
                	<div class="panel-body ">
                            <p class="pull-right"><input type="checkbox" ng-model="exVm.hideInactive" class="checkbox-inline remove-margin" checked /> Hide Denied/Inactive</p>
                            <div class="team-list">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="center-align">Profile Picture</th>
                                            <th class="center-align">Full Name</th>
                                            <th class="center-align">Role</th>
                                            <th class="center-align">Email</th>
                                            <th class="center-align">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="staff in exVm.item.staff" ng-click="exVm.selectMember(staff)" ng-hide="exVm.hideInactive && (staff.projectPersonStatus == 'Denied' || staff.projectPersonStatus == 'Inactive')">
                                            <td style="text-align:center;"><img class="photo-thumb-sm" ng-src="https://chris.s3-us-west-2.amazonaws.com/project/{{staff.person.photoKey}}" /></td>
                                            <td><a>{{staff.person.fullName}}</a></td>
                                            <td>{{staff.isLeader ? 'Project Lead' : 'Team Member'}}</td>
                                            <td>{{staff.person.email}}</td>
                                            <td>{{staff.projectPersonStatus}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-default" data-ng-click="exVm.openModal()">Add Team Member</button>
                            </div>
                        </div>
                    </div>
                </div>
